@font-face {
  font-family: 'Netflix Regular';
  src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Bold';
  src: url('../../../assets/fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Netflix Regular';
  color: whitesmoke;
  background-color: black;
}

.main-container {
  padding: 0 3%;
}

.header {
  padding: 5px 10px;
}

.header svg {
  width: 35px;
  height: 35px;
}

.header path {
  fill: whitesmoke;
}

.header:hover path {
  fill: #ab2e1c;
}

.movie-wallpaper {
  margin: 0 auto;
  width: 60%;
  height: 50vh;
}

.movie-wallpaper .movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -25px;
}

.movie-information {
  padding: 20px;
}

.movie-information .movie-information-title h1 {
  margin-top: 0;
  font-size: 30px;
  word-wrap: break-word;
}

.movie-information .movie-information-title .mit-data {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;
}

.movie-information .movie-information-title .mit-data .mit-data-coincidence {
  font-weight: bold;
  color: #7be76f;
  font-size: 20px;
}

.movie-information .movie-information-title .mit-data .mit-data-year {
  color: gray;
}

.movie-information .movie-information-title .mit-data .mit-data-duration {
  color: gray;
}

.movie-information .movie-information-title .mit-data .mit-data-categories {
  background-color: #4e4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 25px;
  font-size: 15px;
  border-radius: 2px;
}

.movie-information .movie-information-title .mit-data .mit-data-quality {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 3px 3px 1px 3px;
}

.movie-information .movie-information-actions {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.movie-information .movie-information-actions .primary-button {
  width: 35em;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-family: 'Netflix Bold';
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.movie-information .movie-information-actions .play-button {
  background-color: whitesmoke;
  border: 1px solid black;
}

.movie-information .movie-information-actions .play-button:hover {
  box-shadow: 0px 0px 4px whitesmoke;
}

.movie-information .movie-information-actions svg {
  width: 30px;
  height: 30px;
}

.movie-information .movie-information-actions .play-button path {
  fill: black;
}

.movie-information .movie-information-actions .download-button {
  background-color: #4e4c4c;
  color: whitesmoke
}

.movie-information .movie-information-actions .download-button:hover {
  box-shadow: 0px 0px 4px whitesmoke;
}

.movie-information .movie-information-actions .download-button path {
  fill: whitesmoke;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.footer .footer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 10px 0px;
  margin: 0;
}

.footer .footer-list .footer-button a {
  text-decoration: none;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer .footer-list .footer-button path {
  fill: gray;
}

.footer .footer-list .footer-button:hover path,
.footer .footer-list .footer-button:hover a {
  color: whitesmoke;
  fill: whitesmoke;
}

/*===========================ANIMATIONS=======================================*/

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@media (max-width: 800px) {
  .main-container {
    padding: 0;
  }

  .movie-wallpaper {
    width: 100%;
    height: 40vh;
  }

  .movie-wallpaper .movie-img {
    object-fit: cover;
    object-position: 0px 0px;
  }

}
