@font-face {
  font-family: 'Netflix Regular';
  src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Bold';
  src: url('../../../assets/fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Netflix Regular';
  color: whitesmoke;
  background-color: black;
}

.main-container {
  padding: 0 3%;
}

.header {
  padding: 5px 10px;
}

.header svg {
  width: 35px;
  height: 35px;
}

.header path {
  fill: whitesmoke;
}

.header:hover path {
  fill: #ab2e1c;
}

.movie-wallpaper {
  margin: 0 auto;
  width: 60%;
  height: 50vh;
}

.movie-wallpaper .movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 1px -25px;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.footer .footer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 10px 0px;
  margin: 0;
}

.footer .footer-list .footer-button a {
  text-decoration: none;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer .footer-list .footer-button path {
  fill: gray;
}

.footer .footer-list .footer-button:hover path,
.footer .footer-list .footer-button:hover a {
  color: whitesmoke;
  fill: whitesmoke;
}

/*===========================ANIMATIONS=======================================*/

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@media (max-width: 1000px) {
  .main-container {
    padding: 0;
  }

  .movie-wallpaper {
    width: 100%;
    height: 40vh;
  }

  .movie-wallpaper .movie-img {
    object-fit: contain;
    object-position: 50% 0px;
  }
}
