@font-face {
  font-family: 'Netflix Regular';
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Bold';
  src: url('./assets/fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, black 0%, black 60%, #1d1d1d 75%, #1d1d1d 100%);
  color: white;
  font-family: 'Netflix Regular';
}

/*-----------------------------------------------------------------------------*/

.main-container {
  width: 90%;
  margin: auto;
}

.main-container .header {
  padding-bottom: 7px;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(to bottom, #1d1d1d 0%, #1d1d1d 70%, transparent 100%);
}

.main-container .header .logo-header {
  margin: 0;
  padding: 25px;
}

.main-container .header .nav-header .nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  justify-content: space-around;
}

.main-container .header .nav-header .nav-items li {
  text-align: center;
}

.main-container .header .nav-header .nav-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.main-container .featured-container {
  margin-top: -40px;
  position: relative;
}

.main-container .featured-container .featured-video {
  width: 100%
}

.main-container .featured-container .featured-actions-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, black 0%, black 10%, #1d1d1d 30%, transparent 100%);
}

.main-container .featured-container .featured-actions-container .featured-tags {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
}

.main-container .featured-container .featured-actions-container .featured-tags li:before {
  content: '■';
  margin-right: 5px;
}

.main-container .featured-container .featured-actions-container .featured-tags li:first-child:before {
  display: none;
}

.main-container .featured-container .featured-actions-container .featured-actions {
  padding: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .featured-actions-container .featured-actions .button-secondary {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  width: 60px;
}

.main-container .featured-actions-container .featured-actions .button-secondary:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-bottom: 5px;
}

.main-container .featured-actions-container .featured-actions .button {
  width: 140px;
  cursor: pointer;
  background: white;
  border: none;
  padding: 8px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.main-container .featured-actions-container .featured-actions .button-pause {
  width: 140px;
  cursor: pointer;
  background: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  padding: 8px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.main-container .featured-actions-container .featured-actions .button:before,
.main-container .featured-actions-container .featured-actions .button-pause:before  {
  content: '';
  display: inline-block;
  width: 27px;
  height: 25px;
  margin-right: 4px;
}

.main-container .featured-actions-container .featured-actions .icon-list:before {
  background: url('./assets/images/icons/plus.svg');
}

.main-container .featured-actions-container .featured-actions .icon-info:before {
  background: url('./assets/images/icons/info.svg');
}

.main-container .featured-container .featured-actions-container .featured-actions .icon-play:before {
  background: url('./assets/images/icons/play.svg');
}

.main-container .featured-container .featured-actions-container .featured-actions .icon-pause:before {
  background-image: url('./assets/images/icons/pause.png');
  background-repeat: no-repeat;
  background-size: 21px 17px;
  background-position-y: 4px;
  background-position-x: 4px;
  filter: invert(100%);
}

.main-container .movies-container {
  background-color: black;
  padding-top: 20px;
  padding: 15px 15px 20px 15px;
}

.main-container .movies-container .movies-covers {
  white-space: nowrap;
  overflow-x: auto;
}

.main-container .movies-container .movies-covers .img-cover {
  width: 20%;
  display: inline-block;
  margin-right: 5px;
}

.main-container .footer {
  background-color: black;
  padding: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-container .footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.main-container .footer-list .footer-button a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: gray;
}

.main-container .footer-list .footer-button a path {
  fill: gray;
}

.main-container .footer-list .footer-button:hover a, .main-container .footer-list .footer-button:hover path {
  fill: white;
  color: white;
}

@media (max-width: 600px) {
  .main-container {
    width: 100%;
    margin: 0;
  }

  .main-container .featured-container .featured-actions-container .featured-tags {
    font-size: 50%;
  }
}
